.paddingtop{
    padding-top: 5%;
}

.imageArticle{
    width: 70%;
}

.testText{
    text-align: left;
}


.btnPrivatisationHome{
    background-color: #8C52FF;
    color: white;
    border-color: #8C52FF;
    width: 30%;
    
}